$main-bg-color: #68c295;
$main-bg-hover-color: #223f7d;
$main-bg-text-color: black;
$main-bg-highlighted-text-color: whitesmoke;
$panel-bg: rgba(255, 255, 255, 0.3);

$light-text-color: white;

$highlight-color: #223f7d;

$error: rgb(180, 66, 66);
$success: green 2px solid;
