@import '../../../colors';

.app-header {
  background-color: $main-bg-color;
  font-size: 3vh;
  height: 11vh;
  display: flex;
  margin: auto;
  margin-top: 1vh;
  justify-content: space-around;

  
  .companyData {
    display: flex;  
    margin: auto 0;
  }
  
  .logo {
    height: 9vh;
    margin: auto;
  }

  .companyName {
    font-size: 2vh;
    font-family: Work Sans, sans-serif;
    text-align: left;
    
    height: 9vh;
    background-color: white;
    padding-right: 10vh;
  margin: auto 0;
  }

  .nametext {
    margin: auto;
    line-height: 3vh;
  }

  .headerButtons {
    margin: auto 0;
  }
  
  .userName {
    font-size: 2.3vh;
    margin: auto 0;
    text-align: right;
    padding-right: 0.7em;
  }


}
